fastapi
uvicorn
pydantic
qdrant-client
openai
google-cloud-firestore
firebase-admin
pypdf
python-dotenv
python-multipart
rank-bm25
websockets
cachetools
redis
fastembed
langchain-text-splitters
numpy
requests
pytz
httpx
nodeenv
pdfplumber
Pillow
sentence-transformers
tiktoken
